KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP=traceflow-log-processor
KAFKA_TOPIC=traceflow.logs

OPENSEARCH_URL=http://localhost:9200
OPENSEARCH_USERNAME=change_me
OPENSEARCH_PASSWORD=change_me
OPENSEARCH_INDEX=traceflow-logs