# =========================================================
# TraceFlow - Docker Infrastructure Environment
# Copy this file to .env and update values as needed.
# =========================================================

# ---------------------------------------------------------
# PostgreSQL
# ---------------------------------------------------------
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

POSTGRES_DB=traceflow
POSTGRES_USER=traceflow
POSTGRES_PASSWORD=change_me

# ---------------------------------------------------------
# Kafka
# ---------------------------------------------------------

KAFKA_PORT=9092
KAFKA_NODE_ID=1
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC = traceflow.logs
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1

# ---------------------------------------------------------
# OpenSearch
# ---------------------------------------------------------

OPENSEARCH_HOST=opensearch
OPENSEARCH_PORT=9200
OPENSEARCH_CLUSTER_NAME=traceflow-cluster
OPENSEARCH_NODE_NAME=traceflow-node-1
OPENSEARCH_BOOTSTRAP_MEMORY_LOCK=true

OPENSEARCH_URL=http://opensearch:9200

# Single-node development environment
OPENSEARCH_DISCOVERY_TYPE=single-node

# Java heap for local development
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m

# Disable security only for local development
OPENSEARCH_DISABLE_SECURITY_PLUGIN=true