# ---------------------------------------------------------
# JWT Authentication
# ---------------------------------------------------------
Jwt__Issuer=TraceFlow
Jwt__Audience=TraceFlow
Jwt__Secret=change_me_use_a_very_long_random_secret
Jwt__AccessTokenExpirationMinutes=15
Jwt__RefreshTokenExpirationDays=30

# ---------------------------------------------------------
# Postgres
# ---------------------------------------------------------
ConnectionStrings__Postgres=Host=postgres;Port=5432;Database=traceflow;Username=traceflow;Password=change_me

# ---------------------------------------------------------
# Security
# ---------------------------------------------------------
ApiKeySecurity__Pepper=replace-with-long-random-server-side-secret-32bytes
InternalService__Secret=replace-with-long-random-internal-secret

# ---------------------------------------------------------
# OpenSearch__Url
# ---------------------------------------------------------
OpenSearch__Url=https://opensearch:9200
OpenSearch__Username=admin
OpenSearch__Password=change_me
OpenSearch__Index=traceflow-logs
OpenSearch__SkipTlsVerify=true

# ---------------------------------------------------------
# RateLimit
# ---------------------------------------------------------
RateLimit__Global__PermitLimit=100
RateLimit__Global__WindowSeconds=60
RateLimit__Global__QueueLimit=20

RateLimit__Auth__PermitLimit=10
RateLimit__Auth__WindowSeconds=60
RateLimit__Auth__QueueLimit=0

RateLimit__Internal__PermitLimit=1000
RateLimit__Internal__WindowSeconds=60
RateLimit__Internal__QueueLimit=100

RateLimit__Search__PermitLimit=60
RateLimit__Search__WindowSeconds=60
RateLimit__Search__QueueLimit=10

# ---------------------------------------------------------
# TrustedProxies
# ---------------------------------------------------------
TrustedProxies__KnownNetworks__0=172.20.0.0/16